*{
    padding: 0 0;
    margin: 0 0;
}

.menu{
    background-color: red;
    height: 36px;
}
.slider{
    background-color: orange;
    height: 600px;
}



.best-selling-container {
    margin: 10px;
    display: flex;
    
}
img{
    height: 80px;
    object-fit: scale-down;  
    object-position: center;
    border: solid 2px red;
}
.product{
    display: flex;
    align-items: center;
}
.product1,.product3{
    background-color: aqua;
    box-sizing: border-box;
    flex-direction: column;
}
.product2{
    background-color: brown;
    box-sizing: border-box;

    flex-direction: row;
}


.product > img{
    align-self: center;
}

/******************/
/*
.titre,.texte{
    text-align: center; 
    padding: 10px 10px;
    
}*/
.text-container{
    background-color: yellow;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*height: 80%;*/
    text-align: center;
}

