*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --orange: #EA9010;
    --w-orange: #FFF3E2;
    --dark-orange: #151513;
    --gray: #C9C9C9;
    --w-gray: #F8F9FC;
    --dark-gray: #444545;
    --shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
 
a{
    text-decoration: none;
    color: unset;
}
:root{
    --orange: #EA9010;
    --w-orange: #FFF3E2;
    --dark-orange: #151513;
    --gray: #C9C9C9;
    --w-gray: #F8F9FC;
    --dark-gray: #444545;
    --shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
.menu{
    background-color: var(--w-orange);
    box-shadow: var(--shadow);
    height: 50px;
}

.logo{
    background-image: url(./logo/Orange.png);
    width: 75px;
    height: 50px;
    background-size: cover;
    display: inline-block;
    position: absolute;

}
.logo:hover{
    background-image: url(./logo/dark\ orange.png);
    
}

ul{
   justify-content: center;
   display: flex;
}
ul li{
    display: inline-block;
    line-height: 50px;
    padding: 0 10px;
    font-weight: bold;
    color: var(--dark-orange);
}
li:hover{
    color: var(--orange);
    /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); */
}
/* li:active{
    color: red;
}
 */

   
/***************************/
body{
    background-color: #FFF3E2;
    font-family: roboto;
}
.content{
    background-color: var(--w-gray);
    /* padding: 10px; */
    position: relative;
    max-width: 280px;
    min-width: 220px;
    display: flex;
    place-content: center;
    /* max-width: 25vh; */
    transition: background-color 0.5s;
    box-shadow: var(--shadow);
}
.image{
    /* padding: 20px; */
    height: 150px;
    width: 150px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 30px;
  
}
.image img{
    height: min-content;
    width: 60%;
    
    transition: width 0.5s;
}

.info{
    background-color: var(--orange);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;
    
    text-align: center;
}
h3{
    margin: 5px 0;
}
 .addcart{
    background-color: var(--orange);
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    display: block;
    opacity: 0;
    transition: opacity 0.5s;
} 
.addcart img{
    margin: 5px;
    display: flex;
    flex-direction: column;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 5% 5%;
    gap: min(10%,10px);  
}

:is(.content:hover) .addcart{
    transition-timing-function: ease-in-out;
    opacity: 100%;
}
:is(.content:hover) .image img{
    transition-timing-function: ease-in-out;
    width: 80%;
}
.content:hover{
    cursor: pointer;
    transition-timing-function: ease-in-out;
    background-color: var(--gray);
}



@media screen and (max-width: 980px) {
    section{
       
        grid-template-columns: 1fr 1fr 1fr;
        margin: 5% 5%;
        /* width: 100%; */
        gap: min(10%,20px);
    }
    .content{
        max-width: none;
    }
}
@media screen and (max-width: 780px) {
    section{
       
        grid-template-columns: 1fr 1fr;
        margin: 5% 5%;
        /* width: 100%; */
        gap: min(10%,20px);
    }
    .content{
        max-width: none;
    }
}
@media screen and (max-width: 550px) {
    section{
       
        grid-template-columns: 1fr;
        margin: 5% 5%;
        gap: min(10%,20px);
    }
    .content{
        max-width: none;
    }
}
